.about {
  @include wrapper;

  max-width: 1220px;
  min-height: 493px;
  padding: 74px 30px 25px 0;

  background-image: url("../img/bg-about-desktop.png");
  background-repeat: no-repeat;
  background-position: 25px 84px;

  overflow: hidden;

  @include outline;
}

.about__heading,
.about__text {
  margin: 0;
  margin-bottom: 21px;
}

.about__heading,
.about__text,
.about__link {
  margin-left: 204px;

  text-overflow: ellipsis;
  overflow: hidden;
}

.about__heading {
  @include font-roboto-cond-normal;

  font-size: 36px;
  line-height: 51px;
}

.about__text {
  &:nth-of-type(2) {
    margin-bottom: 38px;
  }
}

.about__link {
  @include font-roboto-cond-bold;

  display: block;

  width: 180px;
  padding: 13.5px;

  font-size: 14px;
  line-height: 16px;
  color: $blue;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid $blue;
  border-radius: 5px;

  &:hover {
    color: white;
    background-color: $blue;
  }

  &:active {
    opacity: 0.5;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .about {
    min-height: 461px;
    padding-top: 25px;
    //padding: 25px 29px 25px 0;

    background-image: url("../img/bg-about-tablet.png");
    background-position: 25px 30px;
  }

  .about__heading {
    margin-bottom: 25px;

    font-size: 32px;
    line-height: 45px;
  }

  .about__text {
    margin-bottom: 20px;

    &:nth-of-type(2) {
      height: 90px;
    }
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .about {
    min-height: 573px;
    padding: 26px 15px;

    background-image: none;
  }

  .about__heading,
  .about__text,
  .about__link {
    margin-left: 0;
  }

  .about__heading {
    margin-bottom: 21px;

    font-size: 28px;
    line-height: 39px;
  }

  .about__text {
    margin-bottom: 38px;

    &:nth-of-type(2) {
      height: 180px;
      margin-bottom: 30px;
    }
  }
}
