.contacts {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 52px;

  @include outline;
}

.contacts__menu {
  min-width: 72px;
  height: 52px;
  margin-left: 118px;

  background-color: transparent;
  background-image: url("../img/bg-menu.svg");
  background-repeat: no-repeat;
  background-size: 37px 13px;
  background-position: center;

  cursor: pointer;

  @include outline;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.contacts__email,
.contacts__tel {
  display: flex;
  align-items: center;

  //width: ;
  height: 52px;
  margin: 0;
  margin-left: auto;
  padding: 0 10px;

  line-height: 18px;

  color: white;

  @include outline;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $blue;
  }

  &:hover .contacts__email-svg,
  &:hover .contacts__tel-svg {
    fill: white;
  }

  &:active {
    opacity: 0.8;
  }

  &:active .contacts__email-svg,
  &:active .contacts__tel-svg {
    fill: $blue;
  }
}

.contacts__tel {
  margin-left: 68px;
}

.contacts__email-svg,
.contacts__tel-svg {
  fill: $blue;
}

.contacts__email-text {
  padding-left: 20px;
}

.contacts__tel-text {
  padding-left: 16px;
}

.contacts__btn {
  display: block;

  min-width: 180px;
  margin: 0;
  margin-left: 40px;
  padding: 13.5px 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: white;

  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
    color: $blue;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet-2 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width-2) {
  .contacts__btn {
    display: none;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .contacts__menu {
    margin-left: auto;
  }

  .contacts__email,
  .contacts__tel {
    width: 52px;
    justify-content: center;
    margin-left: 0;
  }

  .contacts__email-text,
  .contacts__tel-text {
    display: none;
  }
}
