.f-menu {
  max-width: 447px;
  width: 100%;
  margin-left: auto;
}

.f-menu__headline {
  @include font-h4;
}

.f-menu__wrapper {
  display: flex;
  justify-content: space-between;
}

.f-menu__list-1,
.f-menu__list-2 {
  @include ul-style;
}

.f-menu__list-2 {
  margin-right: 21px;
}

.f-menu__item {
  max-width: 250px;
}

.f-menu__link {
  @include font-footer;

  &:hover {
    @include footer-link-hover;
  }

  &:active {
    @include footer-link-active;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .f-menu {
    margin-left: 0;
  }

  .f-menu__wrapper {
    flex-direction: column;
  }

  .f-menu__list-2 {
    margin-right: 0;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .f-menu__list-2 {
    padding-bottom: 26px;
  }
}
