.footer {
  width: 100%;
  min-height: 317px;

  background-color: $bg-footer;
}

.footer__wrapper-1 {
  @include wrapper;

  display: flex;

  max-width: 1461px;
  padding: 65px 25px 53px;
}

.footer__top {
  min-width: 216px;
}

.footer__middle {
  display: flex;

  width: 100%;
}

.footer__wrapper-2 {
  width: 100%;

  border-top: 1px solid rgba($color: #626962, $alpha: 0.2);
}

.footer__bottom {
  display: flex;

  max-width: 1461px;
  min-height: 52px;
  padding: 14px 25px 0;

  @include wrapper;
}

.footer__logo-img {
  width: 216px;
  height: 52px;
  margin-bottom: 53px;
}

.footer__t-license {
  display: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop-help-2 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $desktop-width-help-2) {
  .footer__top {
    margin-right: 15px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .footer__wrapper-1 {
    flex-direction: column;

    padding: 0;
  }

  .footer__top {
    position: relative;

    display: flex;
    justify-content: space-between;

    min-height: 97px;
    margin-right: 0;
    padding: 19px 25px 0;

    border-bottom: 1px solid rgba($color: #626962, $alpha: 0.2);
  }

  .footer__logo-img {
    margin-bottom: 0;
  }

  .footer__t-license {
    display: block;

    @include font-license;

    margin-top: 17px;
  }

  .footer__social {
    margin-top: 17px;
  }

  .footer__middle {
    padding: 38px 37px 36px 25px;
  }

  .footer__bottom {
    min-height: 69px;
    padding-top: 21px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .footer__top {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: 261px;
    padding: 46px 15px 54px;
  }

  .footer__t-license {
    margin-top: 0;
  }

  .footer__social {
    margin-top: 0;
  }

  .footer__bottom {
    flex-direction: column;

    min-height: 123px;
    padding-top: 28px;
    padding-bottom: 26px;
  }
}
