.footer {
  width: 100%;
  min-height: 317px;

  background-color: $bg-footer;
}

.footer__wrapper-1 {
  @include wrapper;

  display: flex;

  max-width: 1461px;
  padding: 65px 25px 53px;
}

.footer__top {
  min-width: 216px;
}

.footer__middle {
  display: flex;

  width: 100%;
}

.footer__wrapper-2 {
  width: 100%;

  border-top: 1px solid rgba($color: #626962, $alpha: 0.2);
}

.footer__bottom {
  display: flex;
  align-items: center;

  max-width: 1461px;
  min-height: 52px;
  padding: 0 25px;

  @include wrapper;
}

.footer__logo-img {
  width: 216px;
  height: 52px;
  margin-bottom: 53px;
}

.footer__t-license {
  display: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop-width-help-2 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $desktop-width-help-2) {
  .footer__top {
    margin-right: 15px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet-width >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .footer__wrapper-1 {
    flex-direction: column;

    padding-top: 0;
  }

  .footer__top {
    display: flex;
    justify-content: space-between;

    min-height: 97px;
    margin-right: 0;
    padding-top: 19px;

    border-bottom: 1px solid rgba($color: #626962, $alpha: 0.2);
  }

  .footer__logo-img {
    margin-bottom: 0;
  }

  .footer__t-license {
    display: block;

    @include font-license;

    margin-top: 17px;
  }

  .footer__middle {
    padding-top: 38px;
    padding-right: 12px;
  }

  .footer__bottom {
    min-height: 69px;
  }
}
