.header {
  @include wrapper;

  position: relative;
  z-index: 2;

  display: flex;

  max-width: 1461px;
  padding: 33px 25px 0;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .header {
    padding-top: 20px;
    padding-right: 9px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .header {
    padding: 17px 4px 0 17px;
  }
}
