.header {
  @include wrapper;
  @include outline;

  width: 100%;

  background-color: black;
}

.header__box {
  @include wrapper;
  @include outline;

  display: flex;
  max-width: 1461px;
  padding: 33px 25px 0;
}

/* >>>>>>>>> */

@media (max-width: 1024px) {
  .header {
    background-color: green;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .header__box {
    padding-left: 17px;
    padding-right: 17px;
  }
}

