.info__copyright,
.info__license,
.info__nda,
.info__developer {
  @include font-license;
}

.info__license {
  margin-left: 75px;
}

.info__nda {
  margin-left: 142px;
}

.info__developer {
  margin-left: auto;

  &:hover {
    @include footer-link-hover;
  }

  &:active {
    @include footer-link-active;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< desktop-help-1 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $desktop-width-help-1) {
  .info__nda {
    margin-left: auto;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .info__copyright,
  .info__license {
    display: none;
  }

  .info__nda {
    margin-left: 0;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .info {
    text-align: center;
  }

  .info__nda {
    margin-bottom: 21px;
  }

  .info__developer {
    margin-left: 0;
  }
}
