.location {
  min-width: 333px;
  margin-left: auto;

  @include outline;
}

.location__headline {
  @include font-h4;
  @include outline;
}

.location__text,
.location__tel-list {
  @include font-footer;
  @include outline;
}

.location__text {
  margin: 0;
}

.location__tel-list {
  @include ul-style;
}
