.location {
  width: 333px;

  @include outline;
}

.location__headline {
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $black;

  @include outline;
}

.location__text,
.location__tel-list {
  font-size: 15px;
  line-height: 25px;
  color: $black;
  opacity: 0.5;

  @include outline;
}

.location__tel-list {
  @include ul-style;
}
