.main {
  position: relative;
  z-index: 1;

  width: 100%;
  min-height: calc(100vh - 317px);

  background-color: white;
}

.main__white-bg {
  width: 100%;

  background-color: white;
  background-image: url("../img/bg-figures-desktop.png");
  background-repeat: repeat-x;
  background-position: -190px 46px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .main__white-bg {
    background-image: url("../img/bg-figures-tablet.png");
    background-repeat: no-repeat;
    background-position: 205px 105px;
    background-size: 73%;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .main__white-bg {
    background-position: center 670px;
    background-size: 179%;
  }
}

