.nav {
  //display: flex;

  min-width: 202px;
  min-height: 52px;

  @include outline;
}

.nav__logo {
  display: flex;

  min-width: 202px;
  height: 52px;

  cursor: pointer;

  @include outline;

  &:hover .nav__logo-smart {
    fill: white;
  }
}

.nav__logo-img {
  display: block;
  min-width: 52px;
  height: 52px;

  @include outline;
}

.nav__logo-box {
  width: 100%;
  margin-left: 16px;
}

.nav__logo-headline {
  margin: 0;

  font-size: 25px;
  line-height: 29px;
  font-weight: 700;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: white;
}

.nav__logo-smart {
  fill: $gray;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .nav__logo-box {
    display: none;
  }

  .nav__logo-img {
    width: 38px;
    height: 38px;
  }
}
