.promo {
  width: 100%;
  min-height: 878px;
  margin-top: -85px;
  padding-top: 258px;

  background-color: $black;
  background-image: url("../img/bg-promo.png");
}

.promo__wrapper {
  display: flex;

  max-width: 1569px;
  min-height: 620px;
  padding-bottom: 25px;

  overflow: hidden;

  @include wrapper;
}

.promo__advertising {
  position: relative;

  min-width: 726px;
  margin-left: auto;
  padding-left: 25px;
  padding-top: 58px;
}

.promo__heading {
  @include font-roboto-cond-bold;

  display: block;

  min-width: 726px;
  margin-bottom: 27px;

  font-size: 80px;
  line-height: 94px;
  color: white;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.promo__text {
  position: relative;

  width: 710px;
  margin: 0;
  margin-bottom: 43px;
  padding-left: 94px;

  font-size: 22px;
  line-height: 34px;
  color: white;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 2px;

    width: 66px;
    height: 2px;

    background-color: white;
  }
}

.promo__link {
  @include font-roboto-cond-bold;

  display: block;

  width: 407px;
  height: 55px;
  margin-left: 94px;
  padding: 18px;

  font-size: 16px;
  line-height: 19px;
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 5px;

  &:hover {
    background-color: rgba($color: $blue, $alpha: 0.7);
  }

  &:active {
    background-color: rgba($color: $blue, $alpha: 0.4);
  }
}

.promo__scroll-down {
  position: absolute;
  bottom: 127px;
  left: -10px;

  font-size: 14px;
  line-height: 16px;
  color: white;

  opacity: 0.5;
  transform: rotate(-90deg);
}

.promo__img-box {
  min-width: 705px;
  height: 515px;
  margin-left: auto;
}

.promo__img {
  width: 705px;
  height: 515px;
}

.promo__link-mobile {
  display: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .promo {
    min-height: 684px;
    margin-top: -72px;
    padding-top: 82px;
  }

  .promo__wrapper {
    min-height: 602px;
  }

  .promo__scroll-down {
    display: none;
  }

  .promo__advertising {
    min-width: 404px;
    padding-left: 91px;
    padding-top: 108px;
  }

  .promo__heading {
    min-width: 200px;
    max-width: 350px;

    font-size: 60px;
    line-height: 70px;
  }

  .promo__text {
    width: 404px;
    margin-bottom: 54px;
    padding-left: 48px;

    font-size: 18px;
    line-height: 28px;

    &::before {
      width: 33px;
    }
  }

  .promo__link {
    width: 379px;
    margin-left: 48px;
  }

  .promo__img-box {
    min-width: 314px;
    height: 386px;
  }

  .promo__img {
    width: 314px;
    height: 386px;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .promo {
    min-height: 647px;
    margin-top: -55px;
    padding-top: 70px;
  }

  .promo__wrapper {
    min-height: 508px;
  }

  .promo__advertising {
    position: absolute;

    min-width: 250px;
    margin-top: 110px;
    padding-left: 15px;
  }

  .promo__heading {
    min-width: 300px;
    max-width: 320px;
    height: 94px;

    font-size: 40px;
    line-height: 47px;

    overflow: hidden;
  }

  .promo__text {
    width: 300px;
    margin-bottom: 39px;
    padding-left: 48px;
    height: 75px;

    font-size: 16px;
    line-height: 25px;

    overflow: hidden;
  }

  .promo__link {
    width: 287px;
    margin-left: 2px;
  }

  .promo__img-box {
    min-width: 294px;
    height: 368px;
  }

  .promo__img {
    width: 294px;
    height: 368px;
  }

  .promo__link-desktop {
    display: none;
  }

  .promo__link-mobile {
    display: block;
  }
}
