$mobile-width: 769px; // 769-320
$tablet-width: 1023px; // 1023-770
$desktop-width-help-2: 1109px;
$desktop-width-help-1: 1165px;

$blue: #00b2ff;
$gray: #788891;
$black: #1b2d37;
$bg-footer: #fafafa;
